
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/FileTest/" method="post" enctype="multipart/form-data">
    <input type="file" name="Document" /><br />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
</form>