@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Converter</h1>
    <p class="lead">Converter is a free Web application which purpose is converting Microsoft Word formats to PDF with <i>Spire.Doc for .NET</i> library.</p>
    <p><a href="https://www.e-iceblue.com/Introduce/word-for-net-introduce.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>